* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    background-image: url('https://www.99images.com/download-image/943960/1920x1200');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(0,0,0,0.7);
    color: white;
    height: 100vh;
    align-items: center;
    padding: 50px 20px;
}

header {
    width: 50%;
}

h1 {
    font-size: 50px;
    margin-bottom: 15px;
    color: #ff5000;
}

input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ff5000;
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
}

input::placeholder{
    color: rgb(225,225,225, 0.7);
    font-weight: 300;
    font-size: 16px;
}

input:focus{
    outline: none;
}

.city{
    font-size: 35px;
    margin: 15px 0;
}

.temp{
    font-size: 50px;
    
}

.descr{
    font-size: 20px;
    margin-bottom: 5px;
}

.minmax{
    font-size: 16px;
}

@media only screen and (max-width: 768px){
    h1 {
        font-size: 35px;
    }

    .city{
        font-size: 30px;
    }
    .temp{
        font-size: 40px;
        
    }
}